:root {
    --bg-color: white;
    --text-color: black;
    --table-border-color: black;
    --href-color: blue;

    --name-color: blue;
    --place-color: magenta;
    --god-color: red;
    --circ-color: lavender;
    --free-color: green;
    --speech-color: orange;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e2e;
        --text-color: #cdd6f4;
        --table-border-color: #9399b2;
        --href-color: #74c7ec;

        --name-color: #89dceb;
        --place-color: #f9e2af;
        --god-color: #f38ba8;
        --circ-color: #b4befe;
        --free-color: #a6e3a1;
        --speech-color: #fab387;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
}

a {
    color: var(--href-color);
}

a:visited {
    color: var(--href-color);
}

h3 {
    text-align: center;
}

article {
    width: unset;
}

tbody td {
    vertical-align: top;
    padding: 0.5rem 1rem;
    line-height: 1.7rem;
}

tbody td:first-child {
    font-weight: bold;
    text-align: right;
}

td.msg {
    text-align: justify;
}

th {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table td .msg {
    text-align: justify;
}

table td,
table th {
    border: 1px solid var(--table-border-color);
}

table caption {
    caption-side: bottom;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

label {
    margin: 0.5rem;
    display: block;
}

@media (min-width: 80rem) {
    article {
        width: 80rem;
        margin: 2rem auto;
    }

    col.verse-number {
        width: calc(100% / 24)
    }

    col.zh, col.msg, col.notes {
        width: calc((100% * 23 / 24) / 3);
    }
}

.question {
    font-weight: bold;
}

.answer {
    font-style: italic;
}

.name {
    color: var(--name-color);
}

.place {
    color: var(--place-color);
}

.god {
    color: var(--god-color);
}

.speech {
    color: var(--speech-color);
}

.repeating {
    cursor: pointer;
    font-weight: bold;
}

.works-cited {
    margin-left: 2rem;
    text-indent: -2rem;
}

section#form-controls {
    display: flex;
}
